nav {
  position: absolute;
  height: var(--nav-height);
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav .nav-sidebar-background {
  display: none;
  background: white;
  z-index: -1;
  transition: width 250ms;
}

nav .nav-sections {
  position: relative;
  display: none;
}

nav .nav-toolbar {
  display: none;
  grid-area: toolbar;
  gap: 16px;
  justify-content: end;
  padding: 16px;
}

nav .nav-close-background {
  display: none;
}

nav .nav-logo .icon.icon-logo-small {
  display: none;
}

nav .nav-logo .icon {
  height: 100%;
  width: auto;
  display: flex;
}

nav .nav-search .icon {
  fill: white;
  padding-right: 5px;
}

nav .nav-sections ul {
  padding: 0;
  width: 100%;
}

nav .nav-sections a:any-link {
  width: 100%;
}

nav .nav-sections ul li {
  margin: 0;
  padding: 15px 22px;
  list-style: none;
  border-bottom: 1px solid rgb(229 229 229);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-sections ul li > .icon-chevron-down {
  transform: rotate(270deg);
  cursor: pointer;
  fill: #333;
}

nav .nav-sections ul li > ul {
  display: none;
}

nav .nav-sections ul li:first-child {
  border-top: 1px solid rgb(229 229 229);
}

nav .nav-sections ul li a:any-link {
  color: black;
  font-size: 1.8rem;
}

nav .nav-sections ul li[aria-expanded] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2a65fd;
  display: grid;
  grid-template: 'title chevron' auto 'submenu submenu' 1fr / 1fr auto;
  padding: 0;
}

nav .nav-sections ul li[aria-expanded] > a:any-link {
  padding: 15px 22px;
  grid-area: title;
  color: white;
}

nav .nav-sections ul li[aria-expanded] > .icon {
  grid-area: chevron;
  transform: rotate(0);
  padding-right: 16px;
  stroke: white;
  fill: white;
}

nav .nav-sections ul li[aria-expanded] > ul {
  display: block;
  background: #5c6470;
  grid-area: submenu;
  align-self: stretch;
  margin: 0;
}

nav .nav-sections ul li[aria-expanded] > ul li {
  border: none;
}

nav .nav-sections ul li[aria-expanded] > ul li a:any-link {
  color: white;
  font-size: 1.6rem;
}

nav .nav-sections ul li[aria-expanded] > ul li > .icon {
  fill: white;
}

nav .nav-hamburger {
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
}

nav .nav-hamburger .burger {
  display: block;
  height: 2px;
  background: white;
  width: 25px;
  position: relative;
}

nav .nav-hamburger .burger::before {
  content: ' ';
  display: block;
  height: 2px;
  background: white;
  width: 30px;
  position: absolute;
  bottom: 7px;
}

nav .nav-hamburger .burger::after {
  content: ' ';
  display: block;
  height: 2px;
  background: white;
  width: 20px;
  position: absolute;
  bottom: -7px;
}

nav[aria-expanded] .nav-close-background {
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
}

nav[aria-expanded] .nav-sections {
  grid-area: sections;
  display: flex;
  align-self: stretch;
}

nav[aria-expanded] .nav-toolbar {
  display: flex;
}

nav[aria-expanded] .nav-toolbar .icon {
  width: 26px;
  height: 26px;
}

nav[aria-expanded] .nav-logo {
  grid-area: logo;
  width: 40px;
  height: 40px;
  padding-left: 16px;
}

nav[aria-expanded] .nav-logo .icon.icon-logo-white {
  display: none;
}

nav[aria-expanded] .nav-logo .icon.icon-logo-small {
  display: flex;
}

nav[aria-expanded] {
  position: fixed;
  width: 85vw;
  background: white;
  height: 100vh;
  z-index: 5;
  top: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template: 'logo toolbar' auto 'sections sections' 1fr;
}

@media (min-width: 768px) {
  nav[aria-expanded] {
    width: 70vw;
  }
}

@media (min-width: 1024px) {
  nav {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template: 'logo' auto 'sections' 1fr 'toolbar' auto;
    transition: 250ms;
  }

  nav .nav-hamburger {
    display: none;
  }

  nav .nav-search {
    display: none;
  }

  nav .nav-sections {
    display: flex;
    width: var(--nav-width);
  }

  nav .nav-toolbar {
    display: flex;
    justify-content: start;
    fill: white;
  }

  nav .nav-logo {
    padding: 20px;
    height: 50px;
    grid-area: logo;
  }

  nav .nav-sections ul li {
    border: none !important;
  }

  nav .nav-sections ul li .icon-chevron-down {
    display: none !important;
  }

  nav .nav-sections ul li a:any-link {
    color: white;
  }

  nav.has-scrolled {
    width: 60px;
    overflow: hidden;
    grid-template: 'logo' auto 'hamburger' 1fr 'toolbar' auto / 60px;
  }

  nav .nav-sidebar-background {
    width: 0;
    display: block;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
  }

  nav.has-scrolled .nav-sidebar-background {
    width: 60px;
  }

  nav.has-scrolled .nav-logo .icon.icon-logo-small {
    display: block;
  }

  nav.has-scrolled .nav-logo .icon.icon-logo-white {
    display: none;
  }

  nav.has-scrolled .nav-sections {
    display: none;
  }

  nav.has-scrolled .nav-hamburger {
    grid-area: hamburger;
    align-self: center;
    display: flex;
    justify-content: center;
    width: 100%;
  }

  nav.has-scrolled .nav-logo {
    padding: 25px 10px 10px;
    height: 50px;
  }

  nav.has-scrolled .nav-toolbar {
    flex-direction: column;
    fill: black;
    grid-area: toolbar;
  }

  nav.has-scrolled:hover {
    grid-template: 'logo' auto 'hamburger' 1fr 'toolbar' auto / 250px;
    width: var(--nav-width);
  }

  nav.has-scrolled:hover .nav-sidebar-background {
    width: var(--nav-width);
  }

  nav .nav-hamburger .burger {
    background: black;
  }

  nav .nav-hamburger .burger::before {
    background: black;
  }

  nav .nav-hamburger .burger::after {
    background: black;
  }
}
