.section.hero-container {
  padding: 0;
  grid-area: image;
  background: transparent;
}

main .section > div.hero-wrapper {
  max-width: unset;
}

.hero-background {
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgb(42 101 253);
  background: linear-gradient(270deg, #2a65fd 0%, #0c0080 100%);
}

.hero.block {
  padding-top: var(--nav-height);
  background: transparent;
}

.hero.block > div > div {
  display: grid;
  grid-template: 'title' 'image';
}

.hero.block > div:not(.hero-background) {
  position: relative;
}

.hero.block h1 {
  color: white;
  text-transform: uppercase;
  font-weight: 800;
  grid-area: title;
  margin: 0 16px;
  font-size: 2.8rem;
  padding-right: 16px;
  position: relative;
  z-index: 1;
}

.hero.block.no-image h1 {
  margin-bottom: 24px;
  padding: 20px 0;
}

.hero.block > div > div .hero-image {
  margin-top: 5px;
  max-height: 250px;
  width: 100%;
  object-fit: cover;
  padding-left: 16px;
  position: relative;
  z-index: 1;
  box-sizing: border-box;
}

.hero.block > div > div::after {
  background: #fff;
  border-radius: 24px 24px 0 0;
  bottom: 0;
  content: ' ';
  height: 45%;
  position: absolute;
  width: 100%;
  z-index: 0;
}

.hero.block.no-image > div > div::after {
  height: 24px;
}

.hero.block .bu-logo {
  position: absolute;
  bottom: 260px;
  right: 0;
  width: 120px;
  height: 80px;
  z-index: 0;
}

.hero.block.no-image .bu-logo {
  bottom: unset;
  top: calc(-1 * var(--nav-height));
  width: auto;
  height: 136px;
}

.hero.block.no-image .bu-logo > img {
  height: 136px;
}

.hero.block .bu-logo.deco-bu-dark {
  display: none;
}

@media (min-width: 768px) {
  .hero.block > div > div {
    display: grid;
    grid-template: 'title image' / 4fr 6fr;
    position: relative;
  }

  .hero.block.no-image > div > div {
    grid-template: 'title';
  }

  .hero.block > div > div::after {
    height: 24px;
  }

  .hero.block > div > div .hero-image {
    max-height: 300px;
    position: relative;
    top: 25px;
    padding-left: 0;
  }

  .hero.block h1 {
    align-self: center;
    padding: 0 40px;
    font-size: 4.6rem;
  }

  .hero.block.no-image h1 {
    margin-top: 40px;
  }

  .hero.block .bu-logo {
    bottom: 24px;
    right: 0;
    width: 60%;
  }

  .hero.block.no-image .bu-logo {
    bottom: 24px;
    top: calc(-1 * var(--nav-height));
    height: unset;
  }

  .hero.block.no-image .bu-logo > img {
    height: 100%;
  }

  .hero.block:not(.no-image) .bu-logo.deco-bu-dark {
    grid-area: title;
    display: flex;
    width: 60%;
    height: unset;
  }

  .hero.block:not(.no-image) .bu-logo.deco-bu {
    display: none;
  }

  .hero.block.no-image .bu-logo.deco-bu {
    display: flex;
    justify-content: end;
  }
}

@media (min-width: 1124px) {
  .hero.block > div > div .hero-image {
    max-height: 350px;
  }
}

@media (min-width: 1400px) {
  .hero.block > div > div .hero-image {
    max-height: 500px;
  }
}
