/*
 * Copyright 2020 Adobe. All rights reserved.
 * This file is licensed to you under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License. You may obtain a copy
 * of the License at http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software distributed under
 * the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR REPRESENTATIONS
 * OF ANY KIND, either express or implied. See the License for the specific language
 * governing permissions and limitations under the License.
 */

@font-face {
  font-family: 'Poppins Regular Fallback';
  src: local(arial);
  size-adjust: 108%;
  ascent-override: 91%;
  descent-override: 24%;
  line-gap-override: 24%;
}

@font-face {
  font-family: 'Poppins Light Fallback';
  src: local(arial);
  size-adjust: 108%;
  ascent-override: 93%;
  descent-override: 29%;
  line-gap-override: 16%;
}

@font-face {
  font-family: 'Poppins Bold Fallback';
  src: local('arial black');
  size-adjust: 91%;
  ascent-override: 103%;
  descent-override: 29%;
  line-gap-override: 33%;
}


 :root {
  /* colors */
  --link-color: #2a65fd;
  --link-hover-color: #2a65fd;
  --background-color: #fff;
  --overlay-background-color: #eee;
  --highlight-background-color: #ccc;
  --text-color: #404851;
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #007bff;
  --secondary: #6c757d;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f8f9fa;
  --dark: #343a40;

  /* fonts */
  --font-poppins-regular: 'Poppins Regular', 'Poppins Regular Fallback', sans-serif;
  --font-poppins-bold: 'Poppins Bold', 'Poppins Bold Fallback', sans-serif;
  --font-poppins-light: 'Poppins Light', 'Poppins Light Fallback', sans-serif;
  --body-font-family: var(--font-poppins-regular);
  --heading-font-family: var(--font-poppins-bold);
  --fixed-font-family: 'Roboto Mono', menlo, consolas, 'Liberation Mono', monospace;

  /* body sizes */
  --body-font-size-m: 2.2rem;
  --body-font-size-s: 1.8rem;
  --body-font-size-xs: 1.6rem;

  /* heading sizes */
  --heading-font-size-xxl: 4.8rem;
  --heading-font-size-xl: 4.0rem;
  --heading-font-size-l: 3.2rem;
  --heading-font-size-m: 2.4rem;
  --heading-font-size-s: 2.0rem;
  --heading-font-size-xs: 1.8rem;

  /* nav height */
  --nav-height: 60px;
  --nav-width: 250px;
}

@media (min-width: 900px) {
  :root {
    --heading-font-size-xxl: 6.0rem;
    --heading-font-size-xl: 4.8rem;
    --heading-font-size-l: 3.6rem;
    --heading-font-size-m: 3.0rem;
    --heading-font-size-s: 2.4rem;
    --heading-font-size-xs: 2.2rem;
  }
}

html {
  font-size: 10px;
  overflow-y: scroll;
}

body {
  font-size: var(--body-font-size-m);
  margin: 0;
  font-family: var(--body-font-family);
  line-height: 1.6;
  color: var(--text-color);
  background-color: var(--background-color);
  display: none;
}

body main {
  background: linear-gradient(270deg, #2a65fd 0%, #0c0080 100%);
}

body.appear {
  display: unset;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: var(--heading-font-family);
  line-height: 1.25;
  margin-top: 1em;
  margin-bottom: .5em;
  scroll-margin: calc(var(--nav-height) + 1em);
}

h1 { font-size: var(--heading-font-size-xxl) }
h2 { font-size: var(--heading-font-size-xl) }
h3 { font-size: var(--heading-font-size-l) }
h4 { font-size: var(--heading-font-size-m) }
h5 { font-size: var(--heading-font-size-s) }
h6 { font-size: var(--heading-font-size-xs) }

p, dl, ol, ul, pre, blockquote {
  margin-top: 1em;
  margin-bottom: 1em;
}

hr {
  margin-top: 1.5em;
  margin-bottom: 1.5em;
  border: 0;
  border-bottom: 1px solid var(--overlay-background-color);
}

code, pre, samp {
  font-family: var(--fixed-font-family);
  font-size: var(--body-font-size-s);
}

code, samp {
  padding: .125em;
}

pre {
  overflow: scroll;
}

main pre {
  background-color: var(--overlay-background-color);
  padding: 1em;
  border-radius: .25em;
  overflow-x: auto;
  white-space: pre;
}

a:any-link {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--link-hover-color);
}

/* buttons */
a.button:any-link, button {
  font-family: var(--font-poppins-bold);
  display: inline-block;
  box-sizing: border-box;
  text-decoration: none;
  border: 2px solid transparent;
  padding: 5px 30px;
  text-align: center;
  font-style: normal;
  cursor: pointer;
  color: var(--background-color);
  background-color: var(--link-color);
  margin: 16px 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: 30px;
}

a.button:hover, a.button:focus, button:hover, button:focus  {
  background-color: var(--link-hover-color);
  cursor: pointer;
}

button:disabled, button:disabled:hover {
  background-color: var(--overlay-background-color);
  cursor: unset;
}

a.button.secondary, button.secondary {
  background-color: unset;
  border: 2px solid currentcolor;
  color: var(--text-color)
}

main input {
  font-size: 1.25rem;
  width: 100%;
  max-width: 50rem;
  display: block;
  margin-bottom: 1rem;
  padding: 0.75rem 0.6rem;
  border-radius: 0.25rem;
  box-sizing: border-box;
  border: 1px solid var(--text-color);
  color: var(--text-color);
  background-color: var(--background-color);
}

main input:hover {
  border: 1px solid var(--text-color);
}

main blockquote {
  font-style: italic;
  margin: 3rem;
  text-indent: -1rem;
  hanging-punctuation: first;
}

main blockquote p::before {
  content: "“";
  line-height: 0;
}

main blockquote p::after {
  content: "”";
  line-height: 0;
}

main img {
  max-width: 100%;
  width: auto;
  height: auto;
}

.icon {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.icon svg {
  height: 100%;
  width: 100%;
}

main .section {
  padding: 64px 16px;
  background: white;
}

main:not(.no-breadcrumbs) .section:nth-child(2) {
  padding-top: 0;
}

main ul.custom-list-icons {
  padding-left: 10px;
  list-style: none;
}

main ul.custom-list-icons li {
  display: flex;
  align-items: center;
  font-family: var(--font-poppins-bold);
  margin-bottom: 30px;
  font-size: 2rem;
}

main ul.custom-list-icons li .icon {
  width: 50px;
  height: 50px;
  margin-right: 20px;
  flex-shrink: 0;
}

@media (min-width: 600px) {
  main .section {
    padding: 64px 32px;
  }
}

@media (min-width: 1024px) {
  main .section {
    margin-left: var(--nav-width);
  }

  main .section > div {
    max-width: 1114px;
  }
}

@media (min-width: 1646px) {
  :root {
    --nav-width: calc(calc(100vw - 1146px) / 2);
  }
}

/* section metadata */
main .section.highlight {
  background-color: var(--highlight-background-color);
}
